extends:
  - '@rixo'

overrides:
  - files: ["thc.config.js", "**/snowpack.config.js", "**/vite.config.js"]
    env:
      node: true
  - files: ["test/**"]
    env:
      node: true
      browser: true
